html{
  height:100%; 
}
body{
background-image:url("https://i.imgur.com/Q48tHTj.jpg");
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center;
}
.irving img{
  max-height:auto;
  max-width:auto;
  width:40%;
  position:absolute;
  top:17%;
  bottom:0;  
  left: 60%;  
  right:0;
  margin:auto;
  filter:drop-shadow(0px 0px 0px #3baf6b);
}

 .wave img { 
                    max-height:auto ;  
                    max-width: auto;
                    width:8%;                                                                                     
                    height: auto;
                    position: absolute;
                    top:0%;  
                    bottom:75%;
                    left: 87%;  
                    right:0%;
                    margin: auto;
                    }
                  
          p{
               font-family: 'Oswald',sans-serif;
               font-size:80%;
               width:20%;
               height:60%;
               position:absolute;
               left:50%;
               top:20%;
               overflow:auto; 
             } 
          h1{
             max-height:auto;
             max-width:auto;
             font-family: '3ds', sans-serif;
             font-size:800%;
             position: absolute;
             text-shadow:3px 2px white;
             left: 3%;
             bottom: 75%;
             color:#3baf6b;
             margin:auto;
             }
           
        
