html{
  height:100%; 
}
body{
background-image:url("https://i.imgur.com/5oX5Y2N.jpg");
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center;
}
.board{ 
min-height:100%; 
width:100%;
position:fixed;  
top: 0;  
bottom:0;  
left: 0;  
right:0;
z-index:-999;
}

.logo{ 
max-height:auto ;  
max-width: auto;
width:3%;                                                                                  height: auto;
position: absolute;  
top:0% ;  
                    bottom:64%;
                    left: 0;  
                    right:52%;
                    margin: auto;
                    }
 .wave img { 
                    max-height:auto ;  
                    max-width: auto;
                    width:10%;                                                                                     height: auto;
                    position: absolute;
                    top:40%;  
                    bottom:0;
                    left: 0;  
                    right:42%;
                    margin: auto;
                    }
                  
          p{
               font-family: 'Oswald',sans-serif;
               font-size:80%;
               width:20%;
               height:60%;
               position:absolute;
               left:50%;
               top:20%;
               overflow:auto; 
             } 
          h1{
             font-family: 'Oswald', sans-serif;
             font-size:120% ;
             position: absolute;
             left: 35%;
             top: 60%;                                                         }
           }
         }
