body{
background-image:url("https://i.imgur.com/LHunNqA.jpg");
width:90%;
height:100%;
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center;
}
.frame {  
      height: 10px;
      width: 10px;
      position: relative;
            }
           .board img { 
                  filter: drop-shadow(4px 10px 5px rgba(0,0,0,.8));
                  max-height: auto;  
                  max-width: auto;
                  width:40%;
                  height: auto;
                  position: absolute;  
                  top: 0;  
                  bottom: 0;  
                  left: 0;  
                  right:2%;
                  margin: auto;
                   }

              .logo img { 
                    max-height: auto;  
                    max-width: auto;
                    width:5%;                                                                                     height: auto;
                    position: absolute;  
                    top:0% ;  
                    bottom:65%;  
                    left: 0;  
                    right:52%;
                    margin: auto;
                    }
                                                                                                                                                                                                                            
